* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #region module-7-2-properties-and-attributes*/
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  padding: 0;
}

.gallery li {
  flex-basis: calc((100% - 100px) / 3);
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
/* #endregion module-7-2-properties-and-attributes*/
